.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%,
}

.content-table thread tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight:bold;
}

.content-table th, 
.content-table td,.rowol{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}


.content-table tbody tr:nth-of-type(even){
    background-color: #a1e0d4;
}